<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Topics</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/icon?family=Material+Icons') }}" />
        <link rel="stylesheet" href="{{ asset('web/css/materialize.min.css') }}" />
    </head>

    <body>

    <script src="{{ asset('https://code.jquery.com/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('web/js/materialize.min.js') }}"></script>

    <div class="Slide Categories">
        <div class="content">
            <div class="row">
                <div class="col s12 Text">
                    <h1>{{ category.title }}</h1>

                    <p>{{ category.description }}</p>
                </div>


                <div class="col s12 Topics">
                    {% for topic in topics %}
                        <ul>
                            <h3><a href="{{ path('show_topic', {topicId: topic.id}) }}">{{ topic.title }}</a></h3>
                            <li>
                                {{ topic.description }}
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

<style>

    div.Slide.Categories div.content {
        padding-left: 100px;
        padding-right: 100px;
    }

    div.Slide.Categories div.content div.row div.Text {
        text-align: center;
    }

    div.Slide.Categories div.content div.row div.col {
        margin-left: 0px;
        background: #fff;
        padding: 10px 10px 20px;
    }

    /* Post feed styling */
    div.Slide.Categories div.content div.row div.Topics ul {
        padding-right: 40px;
    }

    div.Slide.Categories div.content div.row div.Topics ul li {
        border: 1px solid black;
        padding: 10px;
        list-style: none;
    }


    div.Slide.Categories div.content div.row div.Topics {
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.50);
        outline: 10px solid rgba(255,255,255,0.7);
        margin-bottom: 50px;
    }

</style>

    </body>


</html>