<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Homepage</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/icon?family=Material+Icons') }}" />
        <link rel="stylesheet" href="{{ asset('web/css/materialize.min.css') }}" />
    </head>
    <body>
        <script src="{{ asset('https://code.jquery.com/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('web/js/materialize.min.js') }}"></script>

    </body>
</html>
