<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Topics</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/icon?family=Material+Icons') }}" />
    <link rel="stylesheet" href="{{ asset('web/css/materialize.min.css') }}" />
</head>

<body>

<script src="{{ asset('https://code.jquery.com/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('web/js/materialize.min.js') }}"></script>

<div class="Slide Topics">
    <div class="content">
        <div class="row">
            <div class="col s12 Text">
                <h1>{{ topic.title }}</h1>

                <p>{{ topic.description }}</p><br />
            </div>

            {% for post in posts %}
                <div class="col s12 Posts">
                    <ul>

                        <h3>{{ post.user.username }}</h3>

                        <li>{{ post.content }}</li>

                        <div class="col s6 Comments">
                            <a href="{{ path('show_post', {postId: post.id}) }}">Post</a>
                            {#<div class="col s12 Comment">#}
                                {#{% for comment in post.comments %}#}
                                    {#{{ comment.content }}#}
                                {#{% endfor %}#}
                            {#</div>#}
                            <a href="">Comment</a>
                        </div>




                    </ul>
                </div>
            {% endfor %}

        </div>
    </div>
</div>

<style>

    div.Slide.Topics div.content {
        padding-left: 100px;
        padding-right: 100px;
    }

    div.Slide.Topics div.content div.row div.Text {
        text-align: center;
    }

    div.Slide.Topics div.content div.row div.col {
        margin-left: 0px;
        background: #fff;
        padding: 10px 10px 20px;
    }

    /* Post feed styling */
    div.Slide.Topics div.content div.row div.Posts ul {
        padding-right: 40px;
    }

    div.Slide.Topics div.content div.row div.Posts ul li {
        border: 1px solid black;
        padding: 10px;
        list-style: none;
    }


    div.Slide.Topics div.content div.row div.Posts {
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.50);
        outline: 10px solid rgba(255,255,255,0.7);
        margin-bottom: 50px;
    }

    div.Slide.Topics div.content div.row div.Comment {
        border: 1px solid black;
        margin-bottom: 10px;
    }

    div.Slide.Topics div.content div.row div.Comments {
        margin-top: 20px;
    }

</style>

</body>
</html>