<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Topics</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/icon?family=Material+Icons') }}" />
    <link rel="stylesheet" href="{{ asset('web/css/materialize.min.css') }}" />
</head>

<body>

<script src="{{ asset('https://code.jquery.com/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('web/js/materialize.min.js') }}"></script>

<div class="Slide Post">
    <div class="content">
        <div class="row">
            {#<div class="col s12">#}
                {#<h1>{{ post.user.username }}</h1>#}

                {#<p>{{ post.content }}</p>#}
            {#</div>#}

            {#{% for comment in comments %}#}
                {#<div class="col s12 Comments">#}
                    {#<ul>#}
                        {#<h4>{{ comment.user.username }}</h4>#}

                        {#<p>{{ comment.content }}</p>#}
                    {#</ul>#}
                {#</div>#}
            {#{% endfor %}#}
        {#</div>#}


            <div class="col s12">
                <h1>{{ post.username }}</h1>
                <p>{{ post.content }}</p>
                <a href="{{ path('add_comment') }}">Comment on this post</a>
            </div>


            {% for comment in comments %}
                <div class="col s12 Comments">
                    <ul>
                        <p> {{ comment.username }}</p>
                        <p> {{ comment.content }} </p>
                    </ul>
                </div>
            {% endfor %}
    </div>
</div>

<style>

    div.Slide.Post div.content {
        padding-left: 100px;
        padding-right: 100px;
    }

    div.Slide.Post div.content div.row div.Text {
        text-align: center;
    }

    div.Slide.Post div.content div.row div.col {
        margin-left: 0px;
        background: #fff;
        padding: 10px 10px 20px;
    }

    /* Post feed styling */
    div.Slide.Post div.content div.row div.Posts ul {
        padding-right: 40px;
    }

    div.Slide.Post div.content div.row div.Posts ul li {
        border: 1px solid black;
        padding: 10px;
        list-style: none;
    }


    div.Slide.Post div.content div.row div.Post {
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.50);
        outline: 10px solid rgba(255,255,255,0.7);
        margin-bottom: 50px;
    }

    div.Slide.Post div.content div.row div.Comments {
        border: 1px solid black;
        margin-bottom: 10px;
    }

    div.Slide.Post div.content div.row div.Comments {
        margin-top: 20px;
    }

</style>

</body>
